@import "tailwindcss";

@theme {
  --color-bg-primary: #101010;
  --color-bg-secondary: #2f2f30;
  --color-text-primary: #f5f5f5;
  --color-text-secondary: #d0d0d0;
  --color-button-bg: #b7a99a;
  --color-button-text: #1d1f20;
  --color-cta: #404e7c;
  --color-white: #ffffff;
  --font-main: "Michroma", sans-serif;
  --color-card:#7570538f;
}
